/* Dice.css */
.dice {
  transition: opacity 0.25s ease-in-out;
}

.dice .dot {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.dice-1 .dot:nth-child(1),
.dice-2 .dot:nth-child(1),
.dice-2 .dot:nth-child(2),
.dice-3 .dot:nth-child(1),
.dice-3 .dot:nth-child(2),
.dice-3 .dot:nth-child(3),
.dice-4 .dot:nth-child(1),
.dice-4 .dot:nth-child(2),
.dice-4 .dot:nth-child(3),
.dice-4 .dot:nth-child(4),
.dice-5 .dot:nth-child(1),
.dice-5 .dot:nth-child(2),
.dice-5 .dot:nth-child(3),
.dice-5 .dot:nth-child(4),
.dice-5 .dot:nth-child(5) {
  opacity: 1;
}
